body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #0f172a;
}

#hero {
    display: flex;
    margin: 0 auto;
}

#contact {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 100px;
    font-size: 0.8rem;
}

#phone {
    width: 50%;
}

#email {
    width: 50%;
    text-align: right;
}

#about {
    width: 50%;
    padding: 0 10px;
}

#man-div {
    width: 50%;
}

#description {
    padding-right: 4px;
    margin-left: 100px;
}

#man {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    /* height: 300px; */
    width: 100%;
    object-fit: cover;
}

#contact-btn {
    background-color: rgb(28, 28, 28);
    width: 100px;
    height: 35px;
    border-radius: 3px;
    color: white;
}

#experience {
    margin: 60px auto 30px;
    max-width: 500px;
    text-align: center;
}

#skills {
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    margin: 0 auto;
    max-width: 800px;
}

.skills-frame {
    margin: 10px;
    padding: 10px;
    background-color: #eef2ff;
    border-radius: 5px;
}

#check-project {
    margin: 60px auto 30px;
    max-width: 500px;
    text-align: center;
}

.projects {
    display: flex;
    max-width: 1000px;
    padding: 0 10px;
    margin: 20px auto;
}

.projects-name-frame {
    background-color: #60a5fa;
    margin-right: 10px;
    border-radius: 5px;
    width: 10%;
    height: 100px;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    /* background-size: 50px; */
}

.about-project {
    font-size: 0.8rem;
    width: 90%;
}

.project-name {
    margin-top: 0;
}

.project-link {
    margin-top: 0;
}