body {
  background-color: rgb(255, 245, 246);
  margin: 0;
  font-family: Roboto, Arial;
  font-size: 16px;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
}

a {
  text-decoration: none;
}
