.experience-section, .project-section {
  /* padding: 60px 100px; */
  /* justify-content: center;
  align-items: center; */
  padding-top: 70px;
  padding-bottom: 40px;
}

.experience-section div, .project-section div {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
}

.experience-section h2, p , .project-section h2, p {
  margin: 0;
}

.skills-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px 120px;
}

.skill {
  background-color: #eef2ff;
  border-radius: 10px;
  padding: 20px;
  /* min-width: 200px; */
}

.skill p, h3 {
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

.project-lists {
  margin-top: 40px;
  padding: 0 120px;
  font-size: 0.85rem;
}

.project-sample {
  display: flex;
  padding-bottom: 30px;
}

.project-name-frame {
  border-radius: 10px;
}

.project-name-frame p {
  margin: 0;
  padding: 40px;
  font-weight: 800;
  font-size: 2rem;
}

.project-details {
  flex: 1;
  padding-left: 20px;
}

.project-name {
  font-weight: 700;
}

@media (max-width: 920px) {
  .skills-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 720px) {
  .skills-section {
    grid-template-columns: 1fr;
    padding: 0 200px;
  }

  .project-sample {
    flex-direction: column;
  }

  .project-lists {
    padding: 0 200px;
  }

  .project-details {
    padding-top: 20px;
  }
}
