.top-section {
  /* background-color: lightblue; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-div {
  flex: 1;
  padding-left: 120px;
  padding-right: 18px;
  font-size: 1rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-size: 1rem;
  
}

#greeting {
  font-size: 1rem;
  padding-top: 40px;
}

#roles h1 {
  margin: 0;
}

#contact-button {
  background-color: black;
  color: white;
  margin-top: 30px;
  padding: 20px 40px;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
}

#man {
  width: 100%;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
}

@media (max-width: 900px) {
  .top-section {
    grid-template-columns: 1fr;
    row-gap: 60px;
  }

  .about-div {
    display: flex;
    flex-direction: column;
    padding-right: 120px;
    /* justify-content: center;
    align-items: center; */
  }

  #contact-button {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 20px 0;
    text-wrap: nowrap;
  }
}